<%- include('./includes/head.ejs') %>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
<%- include('./includes/nav.ejs') %>


<form action="">

    <label for="word">Choose a word  min 7 letters</label>
    <a class="btn btn-primary" id="generatewordbutton">Suggest</a>
    <input type="text" id="word" >

    <label for="centre letter">Pick the centre letter</label>

</form>
<script src="createbeetest.js"></script>
<script>
  
</script>









<%- include('./includes/footer.ejs') %>

</body>

</html>