<%- include('./includes/head.ejs') %>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
<%- include('./includes/nav.ejs') %>


<form action="">

    <label for="word">Choose a word  min 7 letters</label>
    <a class="btn btn-primary" id="generatewordbutton">Suggest</a>
    <input type="text" id="word" >

    <label for="centre letter">Pick the centre letter</label>

</form>

<script>
  
document.querySelector('#generatewordbutton').addEventListener('click', async callback => {
   // fetch('/miniwordlist.json')
   await fetch('/getwordsgenerate')
   .then(response => response.json())
  .then(data => console.log(data));

  /*   .then(res => {
       // console.log(await 'hello');
    //  console.log(res.text());
      console.log(res.json());
      
        //console.log(res.json());
      //  console.log(await res);
    })
    .catch(err => {
        console.error(err);
    }); */
    /* .then(test => {
        console.log(test,'test')
    }) */

    //.then(response => response.json())
    //.then(data => console.log(data)); 

});
</script>









<%- include('./includes/footer.ejs') %>

</body>

</html>