<%- include('./includes/head.ejs') %>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<style> 

.icircle {
    background: #EEE;
    color: #000;
    padding: 4px 20px;
    border-radius: 50%;
    font-size: 35px;
    height: 60px;
    width: 60px;
}
.icircle:hover {
    background: blue;

}
</style>
<body>
  
<%- include('./includes/nav.ejs') %>


<form action="">
    <h1 class="centertxt">Pick a word</h1>
   <!--  <label for="word"></label> -->
    <div class="flexcenter">
        <a class="btn btn-primary centertxt" id="generatewordbutton">Suggest</a>
    </div>
    <div  >
        
        <div class="flexcenter"  id="word" style="height: 70px; font-size: 18pt;"></div>
    </div>
    
    <!-- <input type="text" id="word" > -->

    <div id="pickcentreletterloop" class="flexcenter">


    </div>
    <h2 class="centertxt">Pick the Center Letter</h2>
    <div class="flexcenter centertxt"  id="looplettersdiv">

    </div>
  <!--   <span class="icircle">i</span>
     -->

    <label for="centre letter">Pick the centre letter</label>
    <input type="radio" name="centreletter" value="1">1
    <div id="show total matches"></div>
    <div id="show matching words">

    </div>
  
</form>

<script>
  let indexloop = 0;
  let wordwechose = '';
document.querySelector('#generatewordbutton').addEventListener('click', async callback => {
   // fetch('/miniwordlist.json')
   
   await fetch('/getwordsgenerate')
   .then(response => response.json())
   .then(data => {
      console.log(data);
      document.querySelector('#word').textContent = data.word;
      wordwechose = data.word;
      console.log(indexloop,'indexloop');
      let worduniqueletters = data.matchingwords.uniqueStr;
      let arrayofuniqueletters = data.matchingwords.arrayofuniqueletters;
      console.log(worduniqueletters);
      console.log(data.matchingwords.arrayofuniqueletters,'arrayofuniqueletters');
      let parentappend = document.querySelector('#looplettersdiv');
        
      if(indexloop > 0) {
            document.querySelectorAll('.icircle').forEach(circle => {
        //alert(circle.id);
            let divtodelete = document.querySelector(`#${circle.id}`);
            let parentappend = document.querySelector('#looplettersdiv');
            parentappend.removeChild(divtodelete);
            })
        }
      arrayofuniqueletters.forEach((letter, index) => {
            console.log(letter, index);
            let spanmake = document.createElement("span");
            spanmake.className = "icircle";
            spanmake.id = letter;
            // styled.setAttribute('style', 'color: red');
            spanmake.appendChild(document.createTextNode(letter.toUpperCase()));          

            parentappend.appendChild(spanmake);
            
          
        });
        indexloop++;
        console.log(indexloop, 'indexloop');
      
    })
    .then(after => {
        
    })
console.log(wordwechose);
});

document.querySelector('#looplettersdiv').addEventListener('click', async callback => {
    let input = event.target;
    let inputid = event.target.id;
    let inputtagname = event.target.tagName; 
    if(inputtagname !== 'SPAN'){
        return;
    }
    else{
   await fetch(`/getwordswithcenterletter?word=${wordwechose}&centerletter=${inputid}`)
   .then(response => response.text())
   .then(data => {
      console.log(data);
   })
        //alert( inputid);
        //alert(wordwechose);
        //create another fetch api to get words with also the center letter only 

    }

});
/* 
document.querySelector('#clearcircles').addEventListener('click', async callback => {
    document.querySelectorAll('.icircle').forEach(circle => {
        //alert(circle.id);
            let divtodelete = document.querySelector(`#${circle.id}`);
            let parentappend = document.querySelector('#looplettersdiv');
            parentappend.removeChild(divtodelete);
        })
}); */


</script>









<%- include('./includes/footer.ejs') %>

</body>

</html>