<style>
    .sb-hive {
    width: 90%;
    max-width: 400px;
    margin: 25px auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .hive {
    position: relative;
    width: 100%;
    padding-bottom: 103.92305%;
}
    .hive-cell:nth-child(1) {
    transform: translate(0, 0);
}
.hive-cell {
    position: absolute;
    top: calc(100% / 3);
    left: 30%;
    width: 40%;
    height: calc(100% / 3);
}
.hive-cell:nth-child(2) {
    transform: translate(-75%, -50%);
}
.hive-cell {
    position: absolute;
    top: calc(100% / 3);
    left: 30%;
    width: 40%;
    height: calc(100% / 3);
}
</style>

<div class="sb-hive">
    <div class="hive">
        <svg class="hive-cell center" viewBox="0 0 120 103.92304845413263">
            <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
            <text class="cell-letter" x="50%" y="50%" dy="0.35em">G</text>
        </svg>
        <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263">
            <polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon>
            <text class="cell-letter" x="50%" y="50%" dy="0.35em">e</text>
        </svg>
   <!--          <svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263"><polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%" dy="0.35em">n</text></svg><svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263"><polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%" dy="0.35em">c</text></svg><svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263"><polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%" dy="0.35em">h</text></svg><svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263"><polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%" dy="0.35em">w</text></svg><svg class="hive-cell outer" viewBox="0 0 120 103.92304845413263"><polygon class="cell-fill" points="0,51.96152422706631 30,0 90,0 120,51.96152422706631 90,103.92304845413263 30,103.92304845413263" stroke="white" stroke-width="7.5"></polygon><text class="cell-letter" x="50%" y="50%" dy="0.35em">i</text></svg> -->
        
        </div></div>