
      .class2 { 
        margin-left: 24px !important;
      }
        .class3 { 
            margin-left: 48px !important;
        }
        .class4 {  
            margin-left: 72px !important;
        }
        .class5 { 
            margin-left: 96px   !important;
        }
        .class6 { 
            margin-left: 120px  !important;
        }
        .class7 { 
            margin-left: 144px !important;
        }
        .class8 { 
            margin-left: 168px !important;
        }
        .class9 { 
            margin-left: 192px  !important;
        }