
.bold {
    font-weight: bold;
}

.bgrcolorgray {
    background-color: lightgray;
}
.flexcenter {
    display: flex;
    justify-content: center;
}
.centertxt {
    text-align: center;
    display:block;
}