<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/form.css">
<!--   <script src="js/form.js"></script>
-->
    </head>

    <body>
<%- include('../includes/nav.ejs') %>

    <form class="signup-form">
        <h2 style="margin-top: 20px">Sign up</h2>
        <input type="text" autocomplete="off" id="name" placeholder="name">
        <input type="email" autocomplete="off" id="email" placeholder="email">
        <input type="password" autocomplete="off" id="password" placeholder="password">
        <input type="text" autocomplete="off" id="number" placeholder="number">
        <div>
            <label for="terms-and-cond">agree to our <a href="">terms and conditions</a></label>
            <input type="checkbox" checked class="checkbox" id="terms-and-cond">

        </div>

        <br>
        <div>
            <label for="notification">recieve upcoming offers and events mails</a></label>
            <input type="checkbox" class="checkbox" id="notification">

        </div>

        <button class="submit-btn">create account</button>
        <a href="/login" class="link">already have an account? Log in here</a>
    </form>


    <%- include('../includes/footer.ejs') %>
</body>

</html>