<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/form.css">
<!--   <script src="js/form.js"></script>
-->
    </head>

    <body>
<%- include('../includes/nav.ejs') %>

    <form action="signup" method="post" class="signup-form">
        <h2 style="margin-top: 20px">Sign up</h2>
        <input name="username" type="text" autocomplete="off" id="username" placeholder="username">
        <input name="email" type="email" autocomplete="off" id="email" placeholder="email">
        <input name="password" type="password" autocomplete="off" id="password" placeholder="password">
       
        <div>
      
   

        <button class="submit-btn">create account</button>
        <a href="/login" class="link">already have an account? Log in here</a>
    </form>


    <%- include('../includes/footer.ejs') %>
</body>

</html>